<app-navbar></app-navbar>

<style>
  #nnn {
    background: none;
    border: none;
    cursor: pointer;
  }

  .panel-heading {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search-inputs {
    margin-top: 20px;
  }

  .search-inputs .form-control,
  .search-inputs .btn {
    margin-bottom: 10px;
  }

  .content-wrapper {
    background: url('assets/files/teahu.png') no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    width: auto;
    height: 105vh;
    padding: 20px;
  }

  .table-responsive {
    margin-top: 20px;
  }

  .search-inputs .col-sm-2,
  .search-inputs .col-sm-1 {
    padding: 0 5px;
  }

  .alertRedColor {
    color: red;
  }
</style>
<div class="content-wrapper">
  <div class="container-fluid">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h1 class="text-primary font-weight-bold">{{ 'PurchaseOrder List' | translate }}</h1>
      </div>

      <div class="row search-inputs p-1 justify-content-center">
       

       <div class="col-sm-2">
          <input type="date" name="orderDate" [(ngModel)]="form.searchParams.orderDate" class="form-control"
            placeholder="{{ 'Enter orderDate ' | translate }}">
        </div>

        
        <div class="col-sm-2">
          <select class="form-control" name="product" [(ngModel)]="form.searchParams.product" aria-label="ngSelected" required>
            <option [ngValue]="undefined">{{ 'Select product ' | translate }}</option>
            <option *ngFor="let pro of form.preload.pooja" [value]="pro.key">{{ pro.value }}</option>
          </select>
          
        </div>

       

        

         

        <div class="col-sm-2">
          <input type="text" name="totalQuantity" [(ngModel)]="form.searchParams.totalQuantity" class="form-control"
            (keydown)="filterInput($event, 'errorMessagetotalQuantity', 15, 'long')"
            placeholder="{{ 'Enter totalQuantity' | translate }}">
          <span *ngIf="errorMessagetotalQuantity" class="alertRedColor">{{ errorMessagetotalQuantity }}</span>
        </div>
        
  
        <div class="col-sm-2">
          <input type="text" name="totalCost" [(ngModel)]="form.searchParams.totalCost" class="form-control"
            (keydown)="validateDouble($event)" maxlength="9"
            placeholder="{{ 'Search totalCost' | translate }}" required>
        
          <!-- Display error message below input field -->
          <div *ngIf="errorMessageDouble" class="alertRedColor mt-2">
            {{ errorMessageDouble }}
          </div>
        </div>
        
           
  
       


        <div class="col-sm-1">
          <button (click)="submit()" class="btn btn-primary">{{ 'Search' | translate }}</button>
        </div>

        <div class="col-sm-2">
          <button (click)="forward('/purchase')" type="button" class="btn btn-success">
            {{ 'Add PurchaseOrder' | translate }}
          </button>
        </div>

        <div class="col-sm-1">
          <button (click)="deleteMany()" class="btn btn-danger">{{ 'Delete' | translate }}</button>
        </div>
      </div>

      <div *ngIf="form.error" class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ form.message }}
      </div>

      <div *ngIf="!form.error && form.message != null" class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ form.message }}
      </div>

      <div class="table-responsive">
        <table class="table table-bordered table-hover font-weight-bold text-dark">
          <thead class="thead-dark text-uppercase">
            <tr align="center">
              <th><input type="checkbox" [(ngModel)]="isMasterSel" name="list_name"
                  (change)="checkUncheckAll($event)" /></th>
              <th>{{ 'S.No' | translate }}</th>
              
              <th>{{ 'Order Date' | translate }}</th>
              
              <th>{{ 'product' | translate }}</th>
              
              <th>{{ 'TotalQuantity' | translate }}</th>
              <th>{{ 'TotalCost' | translate }}</th>
              
              <th>{{ 'Edit' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let m of form.list; let i = index" align="center">
              <td><input type="checkbox" #checkboxes (change)="checklistUpdate()" name="list_name" [id]="m.id" /></td>
              <td>{{ (form.pageNo * 5) + i + 1 }}</td>
              
              <td>{{ m.orderDate | date:'yyyy-MM-dd' }}</td>
              <td>{{ findSelValueByKey(m.product,form.preload.pooja) }}</td>
              
              <td>{{ m.totalQuantity }}</td>
              <td>{{ m.totalCost }}</td>
             



              <td>
                <button class="fa fa-edit text-primary" id="nnn" (click)="forward('/pooja/' + m.id)">
                </button>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="d-flex justify-content-between mt-3">
          <button (click)="previous()" [disabled]="form.pageNo == 0" class="btn btn-info">{{ 'Previous' | translate }}</button>

          <div>
            <a class="btn btn-warning mr-1" [routerLink]="['/purchaselist']" (click)="exit()">
              {{ 'Reset' | translate }}
            </a>
          </div>

          <div *ngIf="form.list.length == 0">
            <a class="btn btn-warning mr-1" [routerLink]="['/purchaselist']" (click)="exit()">
              {{ 'Back' | translate }}
            </a>
          </div>
          <button (click)="next()" [disabled]="nextList == 0" class="btn btn-info">{{ 'Next' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
